In [1]:
import pandas as pd

In [2]:
import requests

load the df from session 3

In [3]:
df = pd.read_pickle("../session3/savedDF.pickle")

In [9]:
df.head()

,Country (according to CN Gov):,Date of research inquiry,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking),Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking,IMF WB Customs and other import duties (% of tax revenue) 2016,WB IMF Non-performing loans to total gross loans ratio (%),Moody's Socvereign Ratings List,S&P Sovereign Ratings List,...,WB Cost of Starting a Business,WB Ease of Doing Business Index (1 = most business-friendly regulations),WB Logistics Performance Index (LPI) (range: 1-5),IFDI Net Inflows (% of GDP),ED National Electric Power Consumption TwH,"WHO Current Health Expenditure p.c., PPP USD",WB Research Expenditure % of GDP,WIPO Trademark applications,WIPO Patent Applications,isocode
1,Afghanistan,NaT,NaN,NaN,NaN,NaN,35.2031,12.2018,NaN,NaN,...,NaN,NaN,NaN,0.718898,NaN,162.781,NA,NA,NA,AFG
2,Albania,NaT,NaN,NaN,NaN,NaN,2.21646,13.2325,NaN,NaN,...,NaN,NaN,NaN,8.01551,NaN,759.667,0.15412,1232,14,ALB
3,Armenia,NaT,NaN,NaN,NaN,NaN,6.27539,5.43232,NaN,NaN,...,NaN,NaN,NaN,2.04411,NaN,876.857,0.2277,2685,107,ARM
4,Azerbaijan,NaT,NaN,NaN,NaN,NaN,7.57185,NA,NaN,NaN,...,NaN,NaN,NaN,2.98895,NaN,1193.06,0.18521,2817,144,AZE
5,Bahrain,NaT,NaN,NaN,NaN,NaN,27.3861,NA,NaN,NaN,...,NaN,NaN,NaN,4.01407,NaN,1866.3,0.10116,253,8,BHR

1. BTI

In [15]:
bti_df = pd.read_csv('data-BTI-2006-2018.csv')

In [16]:
bti_df.head()

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
0,Afghanistan,AFG,2006,Asia and Oceania,112,3.019048,109,2.966667,3.00,2,...,Fair,Fair,Poor,Flawed,Poor,Excellent,Flawed,Poor,Flawed,Sound
1,Afghanistan,AFG,2008,Asia and Oceania,120,3.136905,108,3.416667,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Sound
2,Afghanistan,AFG,2010,Asia and Oceania,124,2.810714,123,2.800000,2.75,1,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
3,Afghanistan,AFG,2012,Asia and Oceania,124,2.821429,124,2.750000,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
4,Afghanistan,AFG,2014,Asia and Oceania,122,2.965476,120,2.966667,3.50,3,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair

All the lines where the year is 2018

In [38]:
bti_latestYear = bti_df[bti_df['year'] == 2018]

In [55]:
bti_latestYear.head()

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
6,Afghanistan,AFG,2018,Asia and Oceania,121,2.954762,114,3.016667,3.75,2,...,Flawed,Flawed,Flawed,Flawed,Flawed,Excellent,Flawed,Flawed,Flawed,Fair
13,Albania,ALB,2018,East-Central and Southeast Europe,30,6.828571,34,7.050000,9.00,10,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound
20,Algeria,DZA,2018,Middle East and North Africa,83,4.982143,79,4.750000,7.50,8,...,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair
27,Angola,AGO,2018,South and East Africa,105,3.939286,87,4.200000,7.50,8,...,Fair,Flawed,Flawed,Flawed,Flawed,Fair,Flawed,Flawed,Flawed,Fair
34,Argentina,ARG,2018,Latin America and the Caribbean,23,7.267857,19,8.000000,9.00,8,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound

Select the data we need for the latest year

In [36]:
bti_rank = bti_latestYear.rank_stat_ind

In [52]:
for index, isocode in df.isocode.iteritems():
    try:
        indicator = bti_latestYear[bti_latestYear['country_code']==isocode]['stat_ind']
        rank = bti_latestYear[bti_latestYear['country_code']==isocode]['rank_stat_ind']
        # at the row bti_latestYear[bti_latestYear['country code'] == isocode] and the column for 'Bertelsmann...' put indicator : 
        df.at[index, 'Bertelsmann Transformation index (BTI)'] = indicator
        df.at[index, 'Bertelsmann Transformation index (BTI) - Ranking'] = rank
    except ValueError:
        print('[critical]: no data for', isocode)
        continue

[critical]: no data for BRN
[critical]: no data for TLS
[critical]: no data for FRA
[critical]: no data for DEU
[critical]: no data for IOT
[critical]: no data for ISR
[critical]: no data for MDV
[critical]: no data for ROU
[critical]: no data for GBR
[critical]: no data for USA

In [54]:
df[['Country (according to CN Gov):', 'Bertelsmann Transformation index (BTI)', 'Bertelsmann Transformation index (BTI) - Ranking']].head()

,Country (according to CN Gov):,Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking
1,Afghanistan,2.954762,121.0
2,Albania,6.828571,30.0
3,Armenia,5.576190,61.0
4,Azerbaijan,4.127381,100.0
5,Bahrain,4.616667,89.0

2. CPI

In [57]:
cpi_df = pd.read_excel('data-CPI-2018.xlsx')

In [58]:
cpi_df.head()

,Corruption Perceptions Index 2018: Global Scores,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,ISO3,Region,CPI Score 2018,Rank,Standard error,Number of sources,Upper CI,Lower CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index,Varieties of Democracy Project
2,Denmark,DNK,WE/EU,88,1,2.63,8,92,84,NaN,...,90,NaN,83,97,NaN,92,NaN,79,88,78
3,New Zealand,NZL,AP,87,2,2.44,8,91,83,NaN,...,90,NaN,83,92,NaN,93,NaN,83,82,77
4,Finland,FIN,WE/EU,85,3,2.74,8,89,81,NaN,...,72,NaN,83,93,NaN,93,NaN,90,86,76

In [61]:
cpi_df = pd.read_excel('data-CPI-2018.xlsx', header=2)
cpi_df.head()

,Country,ISO3,Region,CPI Score 2018,Rank,Standard error,Number of sources,Upper CI,Lower CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index,Varieties of Democracy Project
0,Denmark,DNK,WE/EU,88,1,2.63,8,92,84,NaN,...,90.0,NaN,83,97.0,NaN,92.0,NaN,79.0,88.0,78.0
1,New Zealand,NZL,AP,87,2,2.44,8,91,83,NaN,...,90.0,NaN,83,92.0,NaN,93.0,NaN,83.0,82.0,77.0
2,Finland,FIN,WE/EU,85,3,2.74,8,89,81,NaN,...,72.0,NaN,83,93.0,NaN,93.0,NaN,90.0,86.0,76.0
3,Singapore,SGP,AP,85,3,1.98,9,88,82,NaN,...,90.0,NaN,83,90.0,89.0,85.0,NaN,90.0,85.0,78.0
4,Sweden,SWE,WE/EU,85,3,2.02,8,88,82,NaN,...,90.0,NaN,83,81.0,NaN,93.0,NaN,77.0,86.0,78.0

To see the space for Rank:

In [62]:
cpi_df.columns

Index(['Country', 'ISO3', 'Region', 'CPI Score 2018', 'Rank ',
       'Standard error', 'Number of sources', 'Upper CI', 'Lower CI ',
       'African Development Bank CPIA',
       'Bertelsmann Foundation Sustainable Governance Index',
       'Bertelsmann Foundation Transformation Index',
       'Economist Intelligence Unit Country Ratings',
       'Freedom House Nations in Transit Ratings',
       'Global Insight Country Risk Ratings',
       'IMD World Competitiveness Yearbook', 'PERC Asia Risk Guide',
       'PRS International Country Risk Guide', 'World Bank CPIA',
       'World Economic Forum EOS', 'World Justice Project Rule of Law Index',
       'Varieties of Democracy Project'],
      dtype='object')

In [64]:
for index, isocode in df.isocode.iteritems():
    try:
        indicator = cpi_df[cpi_df['ISO3']==isocode]['CPI Score 2018']
        rank = cpi_df[cpi_df['ISO3']==isocode]['Rank ']
        df.at[index, 'TI Corruption Perception Index'] = indicator
        df.at[index, 'TI Corruption Perception Index - Ranking'] = rank
    except ValueError:
        print('[critical]: no data for', isocode)
        continue

[critical]: no data for IOT

In [65]:
df[['TI Corruption Perception Index', 'TI Corruption Perception Index - Ranking']]

    TI Corruption Perception Index  TI Corruption Perception Index - Ranking
1                             16.0                                     172.0
2                             36.0                                      99.0
3                             35.0                                     105.0
4                             25.0                                     152.0
5                             36.0                                      99.0
6                             26.0                                     149.0
7                             44.0                                      70.0
8                             68.0                                      25.0
9                             38.0                                      89.0
10                            63.0                                      31.0
11                            42.0                                      77.0
12                            20.0                                     161.0
13                            39.0                                      87.0
14                            48.0                                      60.0
15                            59.0                                      38.0
16                            35.0                                     105.0
17                            35.0                                     105.0
18                            73.0                                      18.0
19                            72.0                                      21.0
20                            58.0                                      41.0
21                            80.0                                      11.0
22                            46.0                                      64.0
23                             NaN                                       NaN
24                            38.0                                      89.0
25                            28.0                                     138.0
26                            18.0                                     168.0
27                            61.0                                      34.0
28                            49.0                                      58.0
29                            31.0                                     124.0
30                            41.0                                      78.0
..                             ...                                       ...
39                            33.0                                     117.0
40                            37.0                                      93.0
41                            45.0                                      67.0
42                            29.0                                     132.0
43                            31.0                                     124.0
44                            52.0                                      53.0
45                            33.0                                     117.0
46                            36.0                                      99.0
47                            60.0                                      36.0
48                            62.0                                      33.0
49                            47.0                                      61.0
50                            28.0                                     138.0
51                            49.0                                      58.0
52                            39.0                                      87.0
53                            85.0                                       3.0
54                            50.0                                      57.0
55                            60.0                                      36.0
56                            38.0                                      89.0
57                            13.0                                     178.0
58                            25.0                                     152.0
59                            36.0                                      99.0
60                            70.0                                      23.0
61                            41.0                                      78.0
62                            20.0                                     161.0
63                            80.0                                      11.0
64                            71.0                                      22.0
65                            32.0                                     120.0
66                            23.0                                     158.0
67                            33.0                                     117.0
68                            14.0                                     176.0

[68 rows x 2 columns]

3. Heritage

Get isocode from clean country name

In [68]:
heritage_df = pd.read_excel('data-heritage-2019.xls')
heritage_df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6

In [75]:
for index, name in df['Country (according to CN Gov):'].items():          
    cleanedName = name.split(' (')[0].strip()
    if cleanedName == "Thailiand":
        cleanedName = "Thailand"
    elif cleanedName == "The United Arab Emirates":
        cleanedName = "United Arab Emirates"
    elif cleanedName == "Brunei":
        cleanedName = "Brunei Darussalam"
    elif cleanedName == "Myanmar":
        cleanedName = "Burma"
    elif cleanedName == "East Timor":
        cleanedName = "Timor-Leste"
    elif cleanedName == "Kyrgyzstan":
        cleanedName = "Kyrgyz Republic"
    elif cleanedName == "United States of America":
        cleanedName = "United States"
    try:
        indicator = heritage_df[heritage_df['Country Name']==cleanedName]['2019 Score']
        indicator = heritage_df[heritage_df['Country Name']==cleanedName]['World Rank']
        df.at[index, 'HF Index of Economic Freedom (Scale: 1-100)'] = indicator
        df.at[index, 'Heritage Foundation Index of Economic Freedom (Global Ranking)'] = rank
    except ValueError:
        print('[critical]: no data for', cleanedName)
        continue

In [76]:
df[['HF Index of Economic Freedom (Scale: 1-100)', 'Heritage Foundation Index of Economic Freedom (Global Ranking)']].head()

,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking)
1,152.0,176.0
2,52.0,176.0
3,47.0,176.0
4,60.0,176.0
5,54.0,176.0

In [77]:
df.head()

,Country (according to CN Gov):,Date of research inquiry,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking),Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking,IMF WB Customs and other import duties (% of tax revenue) 2016,WB IMF Non-performing loans to total gross loans ratio (%),Moody's Socvereign Ratings List,S&P Sovereign Ratings List,...,WB Cost of Starting a Business,WB Ease of Doing Business Index (1 = most business-friendly regulations),WB Logistics Performance Index (LPI) (range: 1-5),IFDI Net Inflows (% of GDP),ED National Electric Power Consumption TwH,"WHO Current Health Expenditure p.c., PPP USD",WB Research Expenditure % of GDP,WIPO Trademark applications,WIPO Patent Applications,isocode
1,Afghanistan,NaT,152.0,176.0,2.954762,121.0,35.2031,12.2018,NaN,NaN,...,NaN,NaN,NaN,0.718898,NaN,162.781,NA,NA,NA,AFG
2,Albania,NaT,52.0,176.0,6.828571,30.0,2.21646,13.2325,NaN,NaN,...,NaN,NaN,NaN,8.01551,NaN,759.667,0.15412,1232,14,ALB
3,Armenia,NaT,47.0,176.0,5.576190,61.0,6.27539,5.43232,NaN,NaN,...,NaN,NaN,NaN,2.04411,NaN,876.857,0.2277,2685,107,ARM
4,Azerbaijan,NaT,60.0,176.0,4.127381,100.0,7.57185,NA,NaN,NaN,...,NaN,NaN,NaN,2.98895,NaN,1193.06,0.18521,2817,144,AZE
5,Bahrain,NaT,54.0,176.0,4.616667,89.0,27.3861,NA,NaN,NaN,...,NaN,NaN,NaN,4.01407,NaN,1866.3,0.10116,253,8,BHR

4. Moody's

We need ISO2 for moody's

In [84]:
iso2 = {}

In [85]:
for index, name in df['Country (according to CN Gov):'].items():    
    if name in iso2:
        continue        
    cleanedName = name.split(' (')[0].strip()
    if cleanedName == "Thailiand":
        cleanedName = "Thailand"
    if cleanedName == "The United Arab Emirates":
        cleanedName = "United Arab Emirates"
    url = 'http://www.restcountries.eu/rest/v2/name/'+cleanedName
    r = requests.get(url)
    if r.status_code == 200:
        data = r.json()
        country_code = data[0]['alpha2Code']
        iso2[name] = country_code
    else:
        print('[ERROR]['+ name +'] we cannot get the data, reason is ', r.status_code, r.text)

In [103]:
ratings_df = pd.read_csv('data-ratings-2015.csv', delimiter=";")
ratings_df.head()

,Country2Code,Year,SP_NumericRating,Moodys_NumericRating,Fitch_NumericRating,Diff_UP_SM,Diff_DW_SM,Diff_UP_MF,Diff_DW_MF,Diff_UP_SF,...,NGDP_RPCH,ExtDebtPercGNI,GGXWDG_NGDP,GGXWDN_NGDP,GGSB_NPGDP,DefaultLastYear,DefaultLast2Years,DefaultLast5Years,DefaultLast10Years,PCPIPCH
0,DO,2001,9.0,10.0,NaN,NaN,1.0,NaN,NaN,NaN,...,1.791,22.06,15.581,15.581,-1.456,1,1,1,1,8.884
1,DO,2002,9.0,10.0,NaN,NaN,1.0,NaN,NaN,NaN,...,5.776,26.10,16.536,16.536,-1.901,1,1,1,1,5.223
2,DO,2003,4.0,7.0,7.0,NaN,3.0,0.0,0.0,NaN,...,-0.252,36.60,34.108,34.108,-4.657,1,1,1,1,27.450
3,DO,2004,2.0,6.0,5.0,NaN,4.0,1.0,NaN,NaN,...,1.304,38.66,22.500,22.500,-2.696,1,1,1,1,51.461
4,DO,2005,7.0,6.0,6.0,1.0,NaN,0.0,0.0,1.0,...,9.222,24.15,21.290,21.290,-0.440,1,1,1,1,4.190

In [107]:
ratings2015 = ratings_df[ratings_df['Year']==2015]
ratings_df[ratings_df['Year']==2015].head()

,Country2Code,Year,SP_NumericRating,Moodys_NumericRating,Fitch_NumericRating,Diff_UP_SM,Diff_DW_SM,Diff_UP_MF,Diff_DW_MF,Diff_UP_SF,...,NGDP_RPCH,ExtDebtPercGNI,GGXWDG_NGDP,GGXWDN_NGDP,GGSB_NPGDP,DefaultLastYear,DefaultLast2Years,DefaultLast5Years,DefaultLast10Years,PCPIPCH
14,DO,2015,9.0,8.0,8.0,1.0,NaN,0.0,0.0,1.0,...,7.000,0.0,34.289,34.289,-2.707,1,1,1,1,0.837
31,MA,2015,12.0,11.0,12.0,1.0,NaN,NaN,1.0,0.0,...,4.466,0.0,63.165,63.667,-4.943,0,0,1,1,1.600
32,AO,2015,8.0,10.0,8.0,NaN,2.0,2.0,NaN,0.0,...,2.998,0.0,0.000,62.325,0.000,1,1,1,1,10.275
38,AL,2015,7.0,8.0,NaN,NaN,1.0,NaN,NaN,NaN,...,2.639,0.0,71.886,71.886,0.000,0,1,1,1,1.896
47,AE,2015,19.0,19.0,19.0,0.0,0.0,0.0,0.0,0.0,...,3.930,0.0,-258.810,19.419,0.000,0,0,0,0,4.068

In [108]:
for index, isocode in df.isocode.iteritems():
    try:
        sp = ratings2015[ratings2015['Country2Code']==iso2]['SP_NumericRating']
        moody = ratings2015[ratings2015['Country2Code']==iso2]['Moodys_NumericRating']
        fitch = ratings2015[ratings2015['Country2Code']==iso2]['Fitch_NumericRating']
        df.at[index, 'S&P Sovereign Ratings List'] = sp
        df.at[index, "Moody's Socvereign Ratings List"] = moody
        df.at[index, 'Fitch Sovereign Ratings List'] = fitch
    except ValueError:
        print('[critical]: no data for', isocode)
        continue

In [112]:
df[["S&P Sovereign Ratings List", "Moody's Socvereign Ratings List", "Fitch Sovereign Ratings List"]]

,S&P Sovereign Ratings List,Moody's Socvereign Ratings List,Fitch Sovereign Ratings List
1,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
2,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
3,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
4,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
5,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
6,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
7,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
8,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
9,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
10,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
11,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
12,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
13,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
14,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
15,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
16,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
17,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
18,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
19,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
20,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
21,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
22,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
23,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
24,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
25,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
26,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
27,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
28,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
29,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
30,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
...,...,...,...
39,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
40,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
41,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
42,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
43,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
44,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
45,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
46,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
47,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
48,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
49,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
50,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
51,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
52,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
53,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
54,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
55,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
56,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
57,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
58,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
59,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
60,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
61,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
62,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
63,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
64,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
65,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
66,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
67,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."
68,"Series([], Name: SP_NumericRating, dtype: floa...","Series([], Name: Moodys_NumericRating, dtype: ...","Series([], Name: Fitch_NumericRating, dtype: f..."